<link rel="stylesheet" type="text/css" href="css/mercury.css">

<div class="mercury-data">Hello world</div>

{*<div id="system-url" data-url="{$system_url}"></div>*}
{*<div id="time_period" data-time_period="{$time_period}"></div>*}
{*<div id="active_currencies" data-active_currencies='{$active_currencies}'></div>*}
{*<div id="order_uuid" data-order_uuid="{$order_uuid}"></div>*}
{*<div id="order_id" data-order_id="{$order_id}"></div>*}

{*<div class="mercury-data">*}
{*    <div id="system-url" data="{$system_url}">{$system_url}</div>*}
{*    <div id="currency" data='{$currency}'>{$currency}</div>*}
{*    <div id="user" data='{$user}'>{$user}</div>*}
{*    <div id="billing-email" data='{$billing_email}'>{$billing_email}</div>*}


{*    <div id="order-amount" data='{$order_amount}'>{$order_amount}</div>*}

{*    <div id="order_uuid" data="{$order_uuid}">{$order_uuid}</div>*}
{*    <div id="order_id" data="{$order_id}">{$order_id}</div>*}



{*    <div id="time_period" data="{$time_period}">{$time_period}</div>*}



{*    <div id="active_crypto_currencies" data='{$active_crypto_currencies}'></div>*}

{*</div>*}
{*<script>*}
{*    $( "#active_crypto_currencies" ).data( "active_crypto_currencies", {$active_crypto_currencies} );*}

{*</script>*}


{*<div class="currency-selector">*}

{*</div>*}

{*<form class="whmcs-checkout">*}
{*    <div class="mercury-preloader">*}
{*        <div class="mercury-qr-place">*}
{*            <div class="mercury-qr-place-body">*}
{*                <div class="mercuryqpb-tit"></div>*}
{*                *}{*                <div class="mercuryqpb-tit">Amount Crypto<span>0.00245282 ETH</span></div>*}
{*                *}{*                <ul class="mercuryqpb-list">*}
{*                *}{*                    <li><span>Amount to be paid USD:</span><span>3 USD</span></li>*}
{*                *}{*                    <li><span>Exchange rate:</span><span>1223.08 USD</span></li>*}
{*                *}{*                    <li><span>Total:</span><span>0.00245282 ETH</span></li>*}
{*                *}{*                </ul>*}
{*                <div class="mercury-qr-img"></div>*}
{*                *}{*                <ul class="mercuryqpb-list"><li><span>Suggested network coast</span><span>0.000045971250024 ETH</span></li></ul>*}
{*            </div>*}
{*        </div>*}
{*    </div>*}

{*</form>*}


{*<script type="text/javascript" src="js/mercury-assets/kjua.min.js"></script>*}
{*<script type="text/javascript" src="js/mercury-assets/mercury.js"></script>*}



